@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Oswald:wght@200..700&display=swap');

header {
    background-color: #BEC2B1;
    height: 100px;
    margin-top: -50px;
    width: 800px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.container > ul > h2 {
    color: var(--cor-do-titulo-header);
    font-family: 'Madimi One';
    margin-top: 1em;
}

.container > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.container > ul > li {
    list-style: none;
    margin-top: 2em;
}

.container > ul > li > a{
    text-decoration: none;
    font-family: 'Oswald';
    color: var(--cor-dos-links-header);
}

.carrinho {
    position: relative;
    top: 10px;
    width: 30px;
    cursor: pointer;
}

.menu_mobile {
    display: flex;
    justify-content:start;
    margin-top: -30px;
    margin-left: 10px;
    display: none;
}

@media (max-width:834px) {
    .container > ul {
        display: none;
        width: 100%;
        position: fixed;
        transition: 1s;
    }
    .menu_mobile {
        display:block;
        margin-top: 5px;
        cursor: pointer;
        transition: 1s;
        width: auto;
        height: 120px;
        margin-bottom: -80px;
    }
    .menu_mobile > ul {
        display: none;
    }
    .menu_mobile > ul >li {
        transition: 2s;
        list-style: none;
        margin-bottom: .4em;
    }

    .menu_mobile > ul > li > a{
        text-decoration: none;
        color: #e5e5e5;
    }

    #menustop {
        display: none;
    }
    .carrinho {
        position: absolute;
        top: 2px;
        left: 290px;
        color: #fff;
    }
}

@media (max-width:600px) {
    header {
        width: 500px;
    }
}




