@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Oswald:wght@200..700&display=swap');

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-right: 20px;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: var(--cor-dos-links-header);
}

.carrinho {
    width: 30px;
}

.menu_mobile {
    display: none;
    width: 580px;
}

#menustop {
    display: none;
}

#ulmenu {
    display: none;
}

#ulmenu li a {
    color: var(--cor-dos-links-header);
    text-decoration: none;
}

@media (max-width:750px) {
    .menu {
        display: none;
    }
    .menu_mobile {
        display: block;
    }
}