@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url(header.css);
@import url(main.css);
@import url(section.css);
@import url(footer.css);
@import url(modal.css);
@import url(historia.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #C6A29A;
    max-width: 1900px;
    margin: auto;
}

:root {
    --cor-do-titulo-header:#a2261d;
    --cor-dos-links-header: #636363;
    --cor-body:#EDD2C9;
    --cor-vermelha:#ff0303;
    --cor-h4-main: #a622ff;
    --cor-h3-main: #c7a35f;
    --cor-h2-main: #2ec052;
    --cor-h1-main: #396ddb;
    --cor-h1-section:#4f1974;
    --cor-cards:#ECDACE;
    --cor-preta: #000;
    --cor-branca:#fff;
    --cor-amarela:rgb(255, 255, 45);
    --cor-vermelha-clara: #EB6F5F;
    --cor-roxa:#0F021A;
    --verde-escuro:#5B7E6C;
    --cor-do-footer: #b9c2b2;
    --cor-menu:#241ba7;
}

